
#body-login{
    font-family: 'Poppins';
    background: #fff !important;
    width: 100%;
    height:100vh;
}

#login{
    background-color: rgba(35, 35, 35, 0.365);
    width: 25%;
}

#titreApplication{
    font-size: 18px;
    color: rgb(229, 229, 229);
}

.input-wrapper {
    position: relative;
    margin-top: 30px;
    margin-inline: auto;
    max-width: 400px;
  }
  
.input {
    font-size: 20px;
    width: 100%;
    padding: 8px 0;
    padding-right: 30px;
    color: rgb(240,240,240);
    border: none;
    border-bottom: 1px solid #3a3a3a;
    transition: border-color 250ms;
    background-color: transparent;

    &:focus {
        outline: none;
        border-bottom-color: rgb(240,240,240);
    }

    &::placeholder {
        color: transparent;
    }

    &::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
    }
}

.label {
    position: absolute;
    top: 10px;
    left: 0;
    color: rgb(240,240,240);
    pointer-events: none;
    font-size: 15px;
    transform-origin: left center;
    transition: transform 250ms;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    transform: translateY(-100%) scale(0.75);
    color: rgb(229, 229, 229);
}

.clear {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    background: none;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #777;
    transition: color 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(229, 229, 229);
  
    &:hover,
    &:focus {
        color: rgb(229, 229, 229);
    }
  }
  
  .input:placeholder-shown + .label + .clear {
    display: none;
  }

  #btn_connexion{
    border-radius: 4px;
    background-color: rgb(40,40,40);
    border: none;
    color: rgb(240,240,240);
    transition: all .3s ease-in-out;
  }

  #btn_connexion:hover{
    background-color: rgb(20,20,20);
  }
#login{
    background-color: rgba(35, 35, 35, 0.365);
    width: 25%;
}

#titreApplication{
    font-size: 18px;
    color: rgb(229, 229, 229);
}

.input-wrapper {
    position: relative;
    margin-top: 30px;
    margin-inline: auto;
    max-width: 400px;
  }
  
.input {
    font-size: 20px;
    width: 100%;
    padding: 8px 0;
    padding-right: 30px;
    color: rgb(240,240,240);
    border: none;
    border-bottom: 1px solid #3a3a3a;
    transition: border-color 250ms;
    background-color: transparent;

    &:focus {
        outline: none;
        border-bottom-color: rgb(240,240,240);
    }

    &::placeholder {
        color: transparent;
    }

    &::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
    }
}

.label {
    position: absolute;
    top: 10px;
    left: 0;
    color: rgb(240,240,240);
    pointer-events: none;
    font-size: 15px;
    transform-origin: left center;
    transition: transform 250ms;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    transform: translateY(-100%) scale(0.75);
    color: rgb(229, 229, 229);
}

.clear {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    background: none;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #777;
    transition: color 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(229, 229, 229);
  
    &:hover,
    &:focus {
        color: rgb(229, 229, 229);
    }
  }
  
  .input:placeholder-shown + .label + .clear {
    display: none;
  }

  #btn_connexion{
    border-radius: 4px;
    background-color: rgb(40,40,40);
    border: none;
    color: rgb(240,240,240);
    transition: all .3s ease-in-out;
  }

  #btn_connexion:hover{
    background-color: rgb(20,20,20);
  }
  
/* ----------------------------------------------- CORPS ----------------------------------------------- */
.content{
    width: 100%;
    padding-top: 65px;
    padding-left: 234px;
    padding-right: 15px;
    padding-bottom: 16px;
    transition: all .4s ease-in-out;
}
.content2{
    width: 100%;
    padding-top: 65px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 93px;
    transition: all .4s ease-in-out;
}
@media only screen and (max-width: 1270px) {
    .content{
        width: 100%;
        padding-top: 65px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 93px;
        transition: all .4s ease-in-out;
    }
}

/* ----------------------------------------------- TOP BAR ----------------------------------------------- */
.topbar{
    width: 100%;
    background-color: rgb(245, 245, 245);
    /* background-color: red; */
    height: 65px;
    left: 230px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 240px;
    transition: all .4s ease-in-out !important;
}
.topbar #hidden{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
}
.topbar2{
    background-color: rgb(245, 245, 245);
    /* background-color: red; */
    width: 100%;
    height: 65px;
    left: 80px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 95px;
    transition: all .4s ease-in-out !important;
}
.topbar2 #hidden{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
}
#icon-topBar {
    background: none;
    border: none;
    padding: 0;
    color: rgb(80, 80, 80);
    transition: all .3s ease-in !important; 
}
#icon-topBar:hover{ 
    transform: translateY(-3px);
    color: black;
 }
 @media only screen and (max-width: 1270px) {
    .topbar{
        background-color: rgb(245, 245, 245);
        /* background-color: red; */
        width: 100%;
        height: 65px;
        left: 80px;
        padding-top: 10px;
        padding-left: 12px;
        padding-right: 95px;
        transition: all .4s ease-in-out !important;
    }
}

/* ----------------------------------------------- MENU ----------------------------------------------- */
.menu{
    width: 230px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif; /* Modern, clean font */
    background: linear-gradient(180deg, #012011 0%, #1e1e1e 100%);
    transition: all .4s ease-in-out !important;
    overflow-y: auto;       /* scroll vertical si le contenu dépasse */
    height: 100vh;  
    
}
.menu2{
    width: 80px;
    color: #ffffff;
    background: linear-gradient(180deg, #012011 0%, #1e1e1e 100%);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif; /* Modern, clean font */
    transition: all .4s ease-in-out !important;
    overflow-y: auto;       /* scroll vertical si le contenu dépasse */
    height: 100vh;  
}
@media only screen and (max-width: 1270px) {
    .menu{
        width: 80px;
        color: #ffffff;
       background: linear-gradient(180deg, #2a2a2a 0%, #1e1e1e 100%);
        transition: all .4s ease-in-out !important;
    }
}

/* ----------------------------------------------- TITRE MENU ----------------------------------------------- */
#donnee_admin{
    text-align: center;
    transition: all .2s ease-in-out !important;
}
#donnee_admin span a {
    text-decoration: none;
    font-size: 16px;
}

/* ----------------------------------------------- BTN MENU ----------------------------------------------- */
.btn_menu{
    width: 100%;
    background: none;
    /* background-color: red; */
    border: none;
    color: white;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out !important;
}
.btn_menu:hover, .btn_menu2:hover, .divSM:hover, .divSM2:hover{ 
    background-color: rgb(45, 75, 59);
    color: white;
    
    .fleche{
        opacity: 1;
        height: 33px;
        margin-top: -6px;
        margin-bottom: -5px;
        background-color: rgb(245, 245, 245);
        border-right: 3px solid rgb(245, 245, 245);
        border-radius: 2px 0px 0px 2px;
    } 
}
.btn_menu2{
    background: none;
    /* background-color: red; */
    border: none;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 0;
    padding-left: 31px;
    display: flex;
    justify-content: space-between;
    

}
.fleche{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid rgb(245, 245, 245);
    transition: all .2s ease-in-out !important;
    opacity: 0;
}
#btn_deconnexion{
    background: none;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out !important;
}
#btn_deconnexion:hover{
    background-color: rgb(80,128,100);
}

.icon_menu{
    font-size: 14px;
    margin-right: 2px;
    transition: all .4s ease-in-out !important;
}
.icon_menu2{
    margin-right: 0px;
    font-size: 18px;
    transition: all .4s ease-in-out !important;
}

.text_menu{
    font-size: 14px;
    margin-left: 8px;
    opacity: 1;
    transition: all .4s ease-in-out !important;
}
.text_menu2{
    font-size: 0px;
    margin-left: 0px;
    opacity: 0;
    transition: all .4s ease-in-out !important;
}

.divSM{
    border-top: solid 1px rgba(35, 35, 35, 0.707);
    border-bottom: solid 1px rgba(35, 35, 35, 0.707);
    border-radius: 2px 2px 2px 2px;
    padding-left: 15px;
    transition: all .2s ease-in-out !important;
}
.divSM2{
    border-top: solid 1px rgba(35, 35, 35, 0.707);
    border-bottom: solid 1px rgba(35, 35, 35, 0.707);
    border-radius: 2px 2px 2px 2px;
    transition: all .2s ease-in-out !important;
}

#text2{
    display: none;
    transition: all .4s ease-in-out !important;
}

@media only screen and (max-width: 1270px) {
    .btn_menu{
        background: none;
        /* background-color: red; */
        border: none;
        color: white;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right: 0;
        padding-left: 31px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .4s ease-in-out !important;
    }
    .icon_menu{
        margin-right: 0px;
        font-size: 18px;
        transition: all .4s ease-in-out !important;
    }
    .text_menu{
        font-size: 0px;
        margin-left: 0px;
        opacity: 0;
        transition: all .4s ease-in-out !important;
    }
    /* .divSM{
        border-top: solid 1px rgba(35, 35, 35, 0.707);
        border-bottom: solid 1px rgba(35, 35, 35, 0.707);
        border-radius: 2px 2px 2px 2px;
        transition: all .2s ease-in-out !important;
    } */
    #text1{
        display: none;
        transition: all .4s ease-in-out !important;
    }
    #text2{
        display: inline;
        transition: all .4s ease-in-out !important;
    }
}

/* IF MENU ACTIVE */
.is-active{
    background-color: rgb(122, 202, 155);
    color: black;
    .fleche{ opacity: 1; }
}
.is-active_SM{
    background-color: rgb(122, 202, 155);
    color: black;
    .fleche{ opacity: 1; }
} 
.is-active-topbar{
    color: #5fac7eb8;
}


/* login 2 */
.container_login{
    height: 100%; 
    background: #fff !important;
    margin-top: 80px !important;
}
.user_card {
    height: 450px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    /* background: #2ab1ce;  5a5a5a*/
    /* background: #5a5a5a;  */
    background: #7ee2a6; 
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 110px;
    width: 200px;
    top: -60px;
    border-radius: 3%;
    background: #fff;
    padding: 8px;
    text-align: center;

    
}
.brand_logo {
    height: 90px;
    width: 160px;
    border-radius: 3%;
    border: 2px solid white;
}
.form_container {
    margin-top: 30px;
}
.login_btn {
    width: 100%;
    /* background: #4d4d4d !important; */
    background:  rgb(45,45,43) !important;
    color: white !important;
}
@-moz-document url-prefix() {
    .login_btn {
        width: 100% !important;
    }
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_btn:hover {
    background:  rgb(73, 73, 73) !important;
    color: white !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    /* background: #4d4d4d  !important; */
    background: rgb(45,45,43)!important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.img-circle {
    border: solid 1px #7ee2a6;
    box-shadow: 0 1px 1px 0 #7ee2a6 , 0 5px 10px 0 #7ee2a6  !important;
    border-radius: 50%;
    border-radius: 50%;
    width: 70px;   /* optionnel */
    height: 85px;  /* optionnel */
    object-fit: cover; /* pour bien centrer l'image */
}





