.loader{
    position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-45%, -50%);
  padding: 20px;
}

  /* .lds-ellipsis {
    color: #1c4c5b;
  }
  .lds-ellipsis,
  .lds-ellipsis div {
    box-sizing: border-box;
  }
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 50px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 12px; 
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 12px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 48px; 
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 84px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(36px, 0);
    }
  } */

  .lds-facebook,
  .lds-facebook div {
    box-sizing: border-box;
  }
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px; 
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 12px;
    width: 24px;
    background: currentColor;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 12px;
    animation-delay: -0.24s;
    background-color: rgba(53, 53, 53, 0.878);
  }
  .lds-facebook div:nth-child(2) {
    left: 48px;
    animation-delay: -0.12s;
    background-color: rgb(80,128,100);
  }
  .lds-facebook div:nth-child(3) {
    left: 84px;
    animation-delay: 0s;
    background-color: rgba(53, 53, 53, 0.878);
  }
  @keyframes lds-facebook {
    0% {
      top: 12px;
      height: 96px;
    }
    50%, 100% {
      top: 36px;
      height: 48px;
    }
  }
  

  