@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeicons/primeicons.css";

body{
    background-color: rgb(245, 245, 245);
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/police/Poppins-Regular.ttf') format('truetype');
}


* {
    
    font-size: 15px;
}